h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

p, button, label, span {
    font-size: 1.5rem;
    margin: 2rem 0;
}

button, .submit-button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: indigo;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem 3rem;
}

main {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.answer-label {
    display: block;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    background-color: indigo;
    color: white;
    text-align: left;
}

.messageContainer {
    text-align: left;
    margin-left: 20px;
}

span {
    font-style: italic;
}

main input{
    font-size: 1.5rem;
}

.submit-button {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
}

/*make the list marker have the same background with li*/
ol {
    list-style-position: inside;
}

li {
    font-size: 2rem;
    text-align: left;
    background-color: lavender;
    padding: 0.5rem 1rem;
}